@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-accent: #14B8A6;
  --color-success: #22C55E;
  --color-danger: #EF4444;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
